body {
   background-color: coral;
}

main { 
   background-color: white; 
   width: 850px;
   align-items: center; 
   justify-content: center; 
   
}

input[type="text"] {
   width: 30px;
   height: 50px;
   margin-top: 30px;
   margin-left: 15px;
      
}

input[type="submit"], input[type="reset"] {
   width: 355px; 
   background-color: coral; 
   color: white; 
   margin-top: 15px;
   margin-bottom: 5px;
   margin-left: 15px;
}