body {
   background-color: coral;
}

main { 
   background-color: white; 
   width: 500px;
   margin-left: 30%;
   padding: 3%;
   text-align: center;
}


input[type="text"] {
   width: 30px;
   height: 50px;
   margin-top: 30px;
   margin-left: 15px;
   color: coral;
      
}

input[type="submit"], input[type="reset"] {
   width: 355px; 
   background-color: coral; 
   color: white; 
   margin-top: 10px;
   margin-bottom: 5px;
   margin-left: 10px;
}

.item {
   width: 50px;
   text-align: center;
}